* {
    background-color: black;
    color: white;
}

.main_nav {

    margin-left: 5px;
    width: 97%;
    display: flex;
    top: 0px;
}


.menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#comp_logo {
    width: 200px;
    height: 90px;
}

.options {
    @font-face {
        font-family: 'Helvetica';
        src: local('Helvetica'), local('Helvetica-Regular'), url('/path/to/helvetica.woff') format('woff');

    }

    padding: 33px;
    font-family: Helvetica,
    sans-serif;
    font-weight: bold;
    font-size: large;
    transition: color 250ms ease-out 78ms;
    color: #808080;
}


.menu a {
    text-decoration: none;
}

.home {
    cursor: pointer;

}

.about {
    cursor: pointer;
}

.service {
    cursor: pointer;
}

.service {
    cursor: pointer;
}

.team {
    cursor: pointer;
}

.options:hover {
    color: white;
}

.nav_btn {
    font-size: 32px;
    color: black;
    display: none;
    cursor: pointer;
}

.dropdown {
    display: none;
}

.menu-dropdown {
    display: none;
}




.model{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.machine_type{
    display: flex;
}







@media (max-width : 1200px) {

    #comp_logo {
        width: 161px;
        height: 82px;
    }

    .options {
        display: none;
    }


    /* .menu-dropdown {
        position: relative;
        display: inline-block;
        margin-right: 50px;
        margin-top: 12px;

    }

    .drop_btn {
        font-size: 30px;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 10px;
    }


    .dropdown_content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown_menu {
        display: none;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown_content {
        display: block;
    }

    .dropdown_content a:hover {
        font-size: 20px;
    }

    .menu-content {
        display: none;
    } */








    .menu-dropdown {
        display: inline-block;
        height: 70px;
        width: 70px;
        background-color: #191F24;
        border-radius: 35px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -ms-transition: all .7s ease;
        -o-transition: all .7s ease;
        transition: all .7s ease;

        .menu-content {
            background: transparent;
            color: #191F24;
            height: 0;
            width: 0;
            opacity: 0;
            -webkit-transition: all 1.5s ease-in-out !important;
            -moz-transition: all 1.5s ease-in-out !important;
            -ms-transition: all 1.5s ease-in-out !important;
            -o-transition: all 1.5s ease-in-out !important;
            transition: all 1.5s ease-in-out !important;

            ul {
                padding: 20px;
                margin: 0;
                list-style: none;
                padding-top: 80px;
                text-align: center;

                li {
                    padding: 10px 0;
                    font-size: 20px;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;

                    &:hover {
                        color: cyan;
                    }
                }
            }

            &.opacity {
                opacity: 1;
            }
        }

        &.menu-active {
            height: 400px;
            width: 300px;
            border-radius: 5px;

            .menu-content {
                height: 400px !important;
                width: 300px !important;
                color: white !important;
            }
        }

        .con,
        .special-con {
            cursor: pointer;
            display: inline-block;
            position: fixed;
            top: 20px;
            right: 39px;
        }

        .bar {
            display: block;
            height: 5px;
            width: 35px;
            background: white;
            margin: 6px auto;
            position: relative;
            top: 16px;
            left: 2px;
            border-radius: 5px;
        }

        .con {
            width: auto;
            margin: 0 auto;
            -webkit-transition: all .7s ease;
            -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
            -o-transition: all .7s ease;
            transition: all .7s ease;
        }

        .col {
            display: inline-block;
            width: 24%;
            text-align: center;
            height: auto;
            position: relative;
        }

        .middle {
            margin: 0 auto;
        }

        .bar {
            -webkit-transition: all .7s ease;
            -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
            -o-transition: all .7s ease;
            transition: all .7s ease;
        }

        .con.menu-active .top {
            -webkit-transform: translateY(11px) rotateZ(45deg);
            -moz-transform: translateY(11px) rotateZ(45deg);
            -ms-transform: translateY(11px) rotateZ(45deg);
            -o-transform: translateY(11px) rotateZ(45deg);
            transform: translateY(11px) rotateZ(45deg);
        }

        .con.menu-active .bottom {
            -webkit-transform: translateY(-11px) rotateZ(-45deg);
            -moz-transform: translateY(-11px) rotateZ(-45deg);
            -ms-transform: translateY(-11px) rotateZ(-45deg);
            -o-transform: translateY(-11px) rotateZ(-45deg);
            transform: translateY(-11px) rotateZ(-45deg);
        }

        .con.menu-active .middle {
            width: 0;
        }

        .hidden {
            display: none;
        }
    }

}