* {
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    font-family: Helvetica, sans-serif;
    font-size: large;
    zoom: 1;
    padding: 0;
    margin: 0;

}

nav {
    /* background-color: #A3E3FA; */

}


.main {
    background-image: url('../images/model_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 100vh;
}

.main_nav {
    /* background-color: #A3E3FA; */
    margin-left: 5px;
    width: 97%;
    display: flex;
    top: 0px;
}

.main_nav a {
    /* background-color:#A3E3FA */
}


.menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#comp_logo {
    width: 146px;
    height: 135px;
}

#submit_single_data,
#submit_upload_csv {
    margin-top: 30px;
    padding: 10px;
    background-color: #f8a559;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 121px;
}

.options {
    @font-face {
        font-family: 'Helvetica';
        src: local('Helvetica'), local('Helvetica-Regular'), url('/path/to/helvetica.woff') format('woff');

    }

    padding: 33px;
    font-family: Helvetica,
    sans-serif;
    font-weight: bold;
    font-size: large;
    transition: color 250ms ease-out 78ms;
    color: #808080;
    /* background-color: #A3E3FA; */
}


.menu a {
    text-decoration: none;
}

.home {
    cursor: pointer;

}

.about {
    cursor: pointer;
}

.service {
    cursor: pointer;
}

.service {
    cursor: pointer;
}

.team {
    cursor: pointer;
}

.options:hover {
    color: rgb(0, 0, 0);
    background-color: #f8a559;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.nav_btn {
    font-size: 32px;
    color: black;
    display: none;
    cursor: pointer;
}

form {
    margin-top: 35px;
}

.dropdown {
    display: none;
}

.menu-dropdown {
    display: none;
}

.model_name_type {
    font-size: 25px;
}



.model {
    display: flex;
    flex-direction: column;
    margin-left: 77px;
    background: white;
    padding: 40px;
    border-radius: 30px;
}


.machine_type {
    display: flex;
    gap: 16px;
}

.content {
    margin-top: 13px;

}

.model_main {
    display: flex;
    justify-content: space-between;
    gap: 245px;
    padding-top: 25px
}

#air_temperature,
#process_temperature,
#rotational_speed,
#torque,
#tool_wear {
    background-color: white;
    border-radius: 10px;
    width: 180px;
    height: 25px;
    color: black
}

#center_line {
    width: 6px;
    height: 547px;
    background-color: rgb(0, 0, 0) !important;
    border-radius: 40px;
    position: relative;
    top: -40px
}

.options_machinetype {
    display: flex;
    gap: 8px;
}


.machine_type label {
    display: flex;
    align-content: center;
    flex-wrap: wrap
}


#model_name {
    font-size: 55px;
    margin-left: 48px;
}

.upload_file {
    margin-right: 40px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    height: 428px
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.container {
    align-items: center;
    display: flex;
    justify-content: center;
    /* background-color: #fcfcfc; */
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 360px;
    height: 234px;
    background-color: #ffffff;
    padding: 10px 30px 40px
}

.card h3 {
    font-size: 22px;
    font-weight: 600;
    background-color: white;
    color: black;

}

.drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
    background-color: white;
    height: 134px;
}

.drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
    background-color: white;
    margin: 0;
}

.drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
    background-color: white;
}

.btn {
    text-decoration: none;
    background-color: #f8a559;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
}

.btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #f8a559;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}




@media (max-width : 1200px) {

    #comp_logo {
        width: 161px;
        height: 82px;
    }

    .options {
        display: none;
    }


    /* .menu-dropdown {
        position: relative;
        display: inline-block;
        margin-right: 50px;
        margin-top: 12px;

    }

    .drop_btn {
        font-size: 30px;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 10px;
    }


    .dropdown_content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown_menu {
        display: none;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown_content {
        display: block;
    }

    .dropdown_content a:hover {
        font-size: 20px;
    }

    .menu-content {
        display: none;
    } */








    .menu-dropdown {
        display: inline-block;
        height: 70px;
        width: 70px;
        background-color: #191F24;
        border-radius: 35px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        -webkit-transition: all .7s ease;
        -moz-transition: all .7s ease;
        -ms-transition: all .7s ease;
        -o-transition: all .7s ease;
        transition: all .7s ease;

        .menu-content {
            background: transparent;
            color: #191F24;
            height: 0;
            width: 0;
            opacity: 0;
            -webkit-transition: all 1.5s ease-in-out !important;
            -moz-transition: all 1.5s ease-in-out !important;
            -ms-transition: all 1.5s ease-in-out !important;
            -o-transition: all 1.5s ease-in-out !important;
            transition: all 1.5s ease-in-out !important;

            ul {
                padding: 20px;
                margin: 0;
                list-style: none;
                padding-top: 80px;
                text-align: center;

                li {
                    padding: 10px 0;
                    font-size: 20px;
                    -webkit-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    -o-transition: all .5s ease;
                    transition: all .5s ease;

                    &:hover {
                        color: cyan;
                    }
                }
            }

            &.opacity {
                opacity: 1;
            }
        }

        &.menu-active {
            height: 400px;
            width: 300px;
            border-radius: 5px;

            .menu-content {
                height: 400px !important;
                width: 300px !important;
                color: white !important;
            }
        }

        .con,
        .special-con {
            cursor: pointer;
            display: inline-block;
            position: fixed;
            top: 20px;
            right: 39px;
        }

        .bar {
            display: block;
            height: 5px;
            width: 35px;
            background: white;
            margin: 6px auto;
            position: relative;
            top: 16px;
            left: 2px;
            border-radius: 5px;
        }

        .con {
            width: auto;
            margin: 0 auto;
            -webkit-transition: all .7s ease;
            -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
            -o-transition: all .7s ease;
            transition: all .7s ease;
        }

        .col {
            display: inline-block;
            width: 24%;
            text-align: center;
            height: auto;
            position: relative;
        }

        .middle {
            margin: 0 auto;
        }

        .bar {
            -webkit-transition: all .7s ease;
            -moz-transition: all .7s ease;
            -ms-transition: all .7s ease;
            -o-transition: all .7s ease;
            transition: all .7s ease;
        }

        .con.menu-active .top {
            -webkit-transform: translateY(11px) rotateZ(45deg);
            -moz-transform: translateY(11px) rotateZ(45deg);
            -ms-transform: translateY(11px) rotateZ(45deg);
            -o-transform: translateY(11px) rotateZ(45deg);
            transform: translateY(11px) rotateZ(45deg);
        }

        .con.menu-active .bottom {
            -webkit-transform: translateY(-11px) rotateZ(-45deg);
            -moz-transform: translateY(-11px) rotateZ(-45deg);
            -ms-transform: translateY(-11px) rotateZ(-45deg);
            -o-transform: translateY(-11px) rotateZ(-45deg);
            transform: translateY(-11px) rotateZ(-45deg);
        }

        .con.menu-active .middle {
            width: 0;
        }

        .hidden {
            display: none;
        }
    }

}