<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/about_us.css">
</head>

<body>
    <div class="full_content_page">
        <nav>
            <div class="main_nav">
                <div class="logo">
                    <a href=""><img src="../static/images/machine_maint.png" id="comp_logo" alt="logo"></a>
                </div>
                <div class="menu">
                    <a href="/home">
                        <div class="options home">Home</div>
                    </a>
                    <a href="/about">
                        <div class="options about">About Us</div>
                    </a>
                    <a href="/model">
                        <div class="options service">Model</div>
                    </a>
                </div>

                <div class="menu-dropdown">
                    <div class="col">
                        <div class="con">
                            <div class="bar top"></div>
                            <div class="bar middle"></div>
                            <div class="bar bottom"></div>
                        </div>
                    </div>
                    <div class="menu-content hidden">
                        <ul>
                            <a>
                                <li>HOME</li>
                            </a>
                            <a>
                                <li>ABOUT</li>
                            </a>
                            <a>
                                <li>OUR TEAM</li>
                            </a>
                            <a>
                                <li>CONTACT</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <div class="full_content">
            <div class="full_text">
                <div class="about_content">
                    <h2 style="font-size: xx-large">About Us</h2><br><br>
                    <p style="font-size: larger">Code Optimizers focuses on enhancing software performance by optimizing code for efficiency and
                        speed.
                        The company specializes in refining code to reduce resource usage, improve system performance,
                        and
                        ensure applications run smoothly. Also our team has been working on models above 95% of accuracy
                        everytime from the start of the Project.</p>
                </div>
                <div class="main">
                    <div class="profile-card">
                        <div class="img">
                            <img src="../static/images/yashlakade.jpg">
                        </div>
                        <div class="caption">
                            <h3>Yash Lakade</h3>
                            <p>ML Developer</p>
                            <div class="social-links">
                                <a href="https://www.linkedin.com/in/yash-lakade-6997592a7/"><i
                                        class="fab fa-linkedin"></i></a>
                                <a
                                    href="https://www.instagram.com/yash_lakade__?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card">
                        <div class="img">
                            <img src="../static/images/YashRane.jpg">
                        </div>
                        <div class="caption">
                            <h3>Yash Rane</h3>
                            <p>Front End Developer</p>
                            <div class="social-links">
                                <a href="https://www.linkedin.com/in/yash-rane-devop/"><i
                                        class="fab fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/ig_yash2109/"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card">
                        <div class="img">
                            <img src="../static/images/Manmohan.jpg">
                        </div>
                        <div class="caption">
                            <h3>Manmohan Zanwar</h3>
                            <p>Backend Development</p>
                            <div class="social-links">
                                <a href="https://www.linkedin.com/in/manmohan-zanwar-364b8a25b/"><i
                                        class="fab fa-linkedin"></i></a>
                                <a
                                    href="https://www.instagram.com/manmohan.z_01?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-card">
                        <div class="img">
                            <img src="../static/images/athrava_updated.jpg">
                        </div>
                        <div class="caption">
                            <h3>Atharva Nalawade</h3>
                            <p>ML Engineer</p>
                            <div class="social-links">
                                <a href="https://www.linkedin.com/in/atharva-nalawade-5146032b1/"><i
                                        class="fab fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/__atharva88__/?utm_source=ig_web_button_share_sheet"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>