<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
    <nav>
        <div class="main_nav">
            <div class="logo">
                <a href=""><img src="../static/images/UpKeepo__2__2_-removebg-preview.png" id="comp_logo" alt="logo"></a>
            </div>
            <div class="menu">
                <a href="/home">
                    <div class="options home">Home</div>
                </a>
                <a href="/dashboard">
                    <div class="options home">Dashboard</div>
                </a>
                <a href="/about">
                    <div class="options about">About Us</div>
                </a>
                <a href="/model">
                    <div class="options service">Model</div>
                </a>
            </div>

            <div class="menu-dropdown">
                <div class="col">
                    <div class="con">
                        <div class="bar top"></div>
                        <div class="bar middle"></div>
                        <div class="bar bottom"></div>
                    </div>
                </div>
                <div class="menu-content hidden">
                    <ul>
                        <a>
                            <li>HOME</li>
                        </a>
                        <a>
                            <li>ABOUT</li>
                        </a>
                        <a>
                            <li>OUR TEAM</li>
                        </a>
                        <a>
                            <li>CONTACT</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <section class=""></section>
</body>
</html>