<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
    <div class="main">


        <nav>
            <div class="main_nav">
                <div class="logo">
                    <a href="/"><img src="../static/images/machine_maint.png" id="comp_logo" alt="logo"></a>
                </div>
                <div class="menu">
                    <a href="/">
                        <div class="options home">Home</div>
                    </a>
                    <a href="/about">
                        <div class="options about">About Us</div>
                    </a>
                    <a href="/model">
                        <div class="options service">Model</div>
                    </a>
                </div>

                <div class="menu-dropdown">
                    <div class="col">
                        <div class="con">
                            <div class="bar top"></div>
                            <div class="bar middle"></div>
                            <div class="bar bottom"></div>
                        </div>
                    </div>
                    <div class="menu-content hidden">
                        <ul>
                            <a>
                                <li>HOME</li>
                            </a>
                            <a>
                                <li>ABOUT</li>
                            </a>
                            <a>
                                <li>OUR TEAM</li>
                            </a>
                            <a>
                                <li>CONTACT</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="dash_title">
            <h2 style="font-size: x-large;">Dashboard</h2>
        </div>
        <section class="all_dashboard">

            <section class="dashboard">
                <div class="temperature">
                    <div class="air_temperature">
                        <h3>Air Temperature</h3><br>
                        <p id="parameter_machine">{{ air_temperature }}</p>
                    </div>
                    <div class="process_temperature">
                        <h3>Process Temperature</h3><br>
                        <p id="parameter_machine">{{ process_temperature }}</p>
                    </div>
                </div>
                <div class="rpm_torque_result">
                    <div class="rpm_torque">
                        <div class="rpm">
                            <h3>Rotational Speed</h3><br>
                            <p id="parameter_machine">{{ rotational_speed }}</p>
                        </div>
                        <div class="torque">
                            <h3>Torque</h3><br>
                            <p id="parameter_machine">{{ torque }}</p>
                        </div>
                    </div>
                    <div class="result">
                        <canvas id="myChart"></canvas>
                        <div class="pred_eff">
                        <div class="prediction" style="margin-top: 17px">
                            <h3>Prediction</h3><br>
                            <p>The need for maintenance is: {{ prediction_text }}</p>
                        </div>
                        <div class="efficiency" style="margin-top: 67px;">
                            <h3>Effectiveness</h3><br>
                            <p>{{ efficiency_text }}</p>
                            <p>Effectiveness Left:-{{ efficiency }}%</p>
                        </div>
                    </div>

                    </div>
                </div>
                <div class="toolwear_type">
                    <div class="toolwear">
                        <h3>Tool Wear</h3><br>
                        <p id="parameter_machine">{{ tool_wear }}</p>
                    </div>
                    <div class="type">
                        <h3>Type</h3><br>
                        <p id="parameter_machine">{{ machine_type }}</p>
                    </div>
                </div>
            </section>
        </section>
    </div>

    <script>
        const getRandomIntArrayInRange = (min, max, length) =>
            Array.from({ length }, () => Math.floor(Math.random() * (max - min + 1)) + min);
        const xValues = getRandomIntArrayInRange(1100,1900,8)
        
        const yValues = getRandomIntArrayInRange(295,305,8)

        new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)", borderColor: "rgba(0,0,255,0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                scales: {
                    y: {
                        min: 0,
                        max: 10
                    }
                }
            }
        }); </script>
    </script>
</body>

</html>