<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiMaint</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div class="full_content">
        <nav>
            <div class="main_nav">
                <div class="logo">
                    <a href="/"><img src="../static/images/machine_maint.png" id="comp_logo" alt="logo"></a>
                </div>
                <div class="menu">
                    <a href="/">
                        <div class="options home">Home</div>
                    </a>
                    <a href="/about">
                        <div class="options about">About Us</div>
                    </a>
                    <a href="/model">
                        <div class="options service">Model</div>
                    </a>
                </div>

                <div class="menu-dropdown">
                    <div class="col">
                        <div class="con">
                            <div class="bar top"></div>
                            <div class="bar middle"></div>
                            <div class="bar bottom"></div>
                        </div>
                    </div>
                    <div class="menu-content hidden">
                        <ul>
                            <a>
                                <li>HOME</li>
                            </a>
                            <a>
                                <li>ABOUT</li>
                            </a>
                            <a>
                                <li>OUR TEAM</li>
                            </a>
                            <a>
                                <li>CONTACT</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <section class="page">
            <div class="title">
                <h2 style="font-size: 40px !important; margin-top: 17px !important;">OptiMaint- Machine Maintenance Prediction using Machine
                    Learning</h2>
                <p style="        width: 900px !important;
                font-size: medium !important;
                margin-top: 48px !important;">A machine learning solution that predicts machinery failures and maintenance
                    needs using usage
                    history, and environmental conditions. It includes a real-time dashboard for monitoring and alerts,
                    helping companies prevent downtime by scheduling maintenance proactively.</p>
                <div class="tech_used">
                    <h2 style="font-size: larger !important;">Technologies Used</h2>
                </div>
                <div class="tech_stack">
                    <div class="tech_stack_left">
                        <div class="tech_name_left">
                            <h4>ML Model</h4>
                        </div>
                        <div class="tech_name_left">
                            <h4>Pandas</h4>
                        </div>
                        <div class="tech_name_left">
                            <h4>NumPy</h4>
                        </div>
                    </div>
                    <div class="tech_stack_right">
                        <div class="tech_name_right">
                            <h4>Sci-Kit Learn</h4>
                        </div>
                        <div class="tech_name_right">
                            <h4>Flask</h4>
                        </div>
                        <div class="tech_name_right">
                            <h4>HTML,CSS,JS</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app_used">
                <h4>Apps Used</h4>
                <div class="logo_app">
                    <img src="../static/images/Colab.png" alt="">
                    <img src="../static/images/Github.png" alt="">
                    <img src="../static/images/VS.png" alt="">
                    <img src="../static/images/Figma.png" alt="">
                </div>
            </div>
        </section>
    </div>
</body>

</html>