<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpKeep AI</title>
    <link rel="stylesheet" href="../static//css/upload.css">
</head>

<body>
    <div class="main">
        <nav>
            <div class="main_nav">
                <div class="logo">
                    <a href=""><img src="../static/images/UpKeepo .png" id="comp_logo" alt="logo"></a>
                </div>
                <div class="menu">
                    <a href="">
                        <div class="options home">Home</div>
                    </a>
                    <a href="">
                        <div class="options about">About Us</div>
                    </a>
                    <a href="">
                        <div class="options service">Model</div>
                    </a>
                    <a href="">
                        <div class="options team">Our Team</div>
                    </a>
                </div>

                <div class="menu-dropdown">
                    <div class="col">
                        <div class="con">
                            <div class="bar top"></div>
                            <div class="bar middle"></div>
                            <div class="bar bottom"></div>
                        </div>
                    </div>
                    <div class="menu-content hidden">
                        <ul>
                            <a>
                                <li>HOME</li>
                            </a>
                            <a>
                                <li>ABOUT</li>
                            </a>
                            <a>
                                <li>OUR TEAM</li>
                            </a>
                            <a>
                                <li>CONTACT</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <section class="model">
            <H2>Model</H2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="upload_csv">Upload CSV File</label>
                <input type="file" id="upload_csv" name="file"><br><br>
                <button type="submit" value="Upload">Submit</button>
            </form>

        </section>
    </div>

    <script src="../static/js/index.js"></script>
</body>

</html>